################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application Layer/Entities/obj/Debug/**/*
/Application Layer/Entities/bin/Debug/**/*
/Application Layer/RecursiveBacktracking/obj/Debug/**/*
/Application Layer/RecursiveBacktracking/bin/Debug/**/*
/Application Layer/RecursiveBackTrackingBruteForce/bin/Debug/**/*
/Application Layer/RecursiveBackTrackingBruteForce/obj/Debug/**/*
/Presentation Layer/ConsoleApplication1/bin/Debug/**/*
/Presentation Layer/ConsoleApplication1/obj/Debug/**/*
/Presentation Layer/WindowsFormsApplication1/bin/Debug/**/*
/Presentation Layer/WindowsFormsApplication1/obj/Debug/**/*