<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="mazeRows" value="10"/>
    <add key="mazeColumns" value="10"/>
    <add key ="animationSpeed" value ="1"/> <!-- This value in seconds -->
    <add key ="mazeAlgorithm" value="prim"/>    
  </appSettings>
</configuration>